.button{
	-fx-radius: 30;
	-fx-background-color: grey;
	-fx-background-radius: 25;
	-fx-opacity: 0.7;
	-fx-insets: 5;
}

.button:hover {
    
    -fx-border-style: solid;
    -fx-border-color: rgba(0,0,0,0.9);
	-fx-border-width: 5;
	-fx-border-radius: 30;
	-fx-border-opacity: 0.9;
	-fx-border-insets: -5;
	
}

.button:disabled {
	-fx-background-color: aliceblue;
	-fx-opacity: 0.2 ;
}